
.main-container,
.block-editor{
    .wp-block-group {
        .is-style-group-colorfull-bg{
            background-color: orange;
            border-radius: 30px;
            padding: 30px;
            margin: 20px auto;
        }
    }
}