//Variables

//Container Width
$wide-width-content: 1280px;  //En editor: none
$max-width-content: 1920px;   //En editor: wide

//Container Colors
// $background-red: rgb(229, 136, 136);
$background-red: transparent;
$background-yellow: rgb(212, 255, 0);
$background-blue: rgb(0, 157, 255);

//Colors
$purple: #7A0E6F;
$orange: #E35610;
$yellow: #F0AB00;
$white: #FFFFFF;
$black: #000000;
$transparent: transparent;

//Fonts
$font-primary: 'benton-sans-bold';
$font-secondary: 'benton-sans-book';
$font-tertiary: 'benton-sans-black';
$font-quaternary: 'benton-sans-medium';

//Heading
//H1
$h1-font-family: $font-primary;
$h1-color: $white;
$h1-background-color: $transparent;
$h1-font-size: 80px;
$h1-font-style: normal;
$h1-line-height: 1em;
$h1-font-weight: inherit;
$h1-text-transform: inherit;
$h1-letter-spacing: inherit;
$h1-margin: 0 auto;
$h1-padding: 0;
$h1-overflow-wrap: break-word;

//H2
$h2-font-family: $font-primary;
$h2-color: rgb(200, 255, 0);
$h2-background-color: rgb(6, 0, 128);
$h2-font-size: revert;
$h2-font-style: normal;
$h2-line-height: 1em;
$h2-font-weight: inherit;
$h2-text-transform: inherit;
$h2-letter-spacing: inherit;
$h2-margin: 0 auto;
$h2-padding: 0;
$h2-overflow-wrap: break-word;

//H3
$h3-font-family: $font-primary;
$h3-color: rgb(0, 255, 183);
$h3-background-color: purple;
$h3-font-size: revert;
$h3-font-style: normal;
$h3-line-height: 1em;
$h3-font-weight: inherit;
$h3-text-transform: inherit;
$h3-letter-spacing: inherit;
$h3-margin: 0 auto;
$h3-padding: 0;
$h3-overflow-wrap: break-word;

//H4
$h4-font-family: $font-primary;
$h4-color: rgb(0, 255, 183);
$h4-background-color: purple;
$h4-font-size: revert;
$h4-font-style: normal;
$h4-line-height: 1em;
$h4-font-weight: inherit;
$h4-text-transform: inherit;
$h4-letter-spacing: inherit;
$h4-margin: 0 auto;
$h4-padding: 0;
$h4-overflow-wrap: break-word;

//H5
$h5-font-family: $font-primary;
$h5-color: rgb(0, 255, 183);
$h5-background-color: purple;
$h5-font-size: revert;
$h5-font-style: normal;
$h5-line-height: 1em;
$h5-font-weight: inherit;
$h5-text-transform: inherit;
$h5-letter-spacing: inherit;
$h5-margin: 0 auto;
$h5-padding: 0;
$h5-overflow-wrap: break-word;

//H6
$h6-font-family: $font-primary;
$h6-color: rgb(0, 255, 183);
$h6-background-color: purple;
$h6-font-size: revert;
$h6-font-style: normal;
$h6-line-height: 1em;
$h6-font-weight: inherit;
$h6-text-transform: inherit;
$h6-letter-spacing: inherit;
$h6-margin: 0 auto;
$h6-padding: 0;
$h6-overflow-wrap: break-word;

//Paragraph
//p
$p-font-family: $font-primary;
$p-color: #000000;
$p-background-color: transparent;
$p-font-size: revert;
$p-font-style: normal;
$p-line-height: 1em;
$p-font-weight: inherit;
$p-text-transform: inherit;
$p-letter-spacing: inherit;
$p-margin: 0 auto;
$p-padding: 0;
$p-overflow-wrap: break-word;



